program: src/s2_cnn_mnist/train.py
name: sweepdemo
project: cnn_mnist
entity: claho-danmarks-tekniske-universitet-dtu
method: bayes
metric:
  goal: minimize
  name: validation_loss
parameters:
  learning_rate:
    min: 0.0001
    max: 0.1
  batch_size:
    values: [16, 32, 64]
  epochs:
    values: [5, 10, 15]